    @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Open+Sans:wght@300;469&family=Source+Sans+Pro:wght@200;400&display=swap');


    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        -webkit-font-smotthing: antialiased;
    }

    html, body{
        width: 100%;
        height: 100%;
        
    }

    :root{
        --primary:#FAD961;
        --secondary:#4D4D4D;
    }

/* --------------------------------------------------------------------------- */
    @media only screen and (max-width: 950px) {


        .top-bottom{
            width: 100%;
            background-color: var(--primary); 
            padding: 2rem; 
            text-align: center;
           
       }
   
       header{
           background-color: white;
           padding: 1rem;
       }
   
       .top-bottom ul{
           /* width: 100%; */
           margin-block: 0;
           list-style-type: none;
           
       }
   
       .top-bottom a{
           text-decoration: none;
           color: var(--secondary);
           font-size: 1.25rem;
       }
   
       .top-bottom ul li{
           margin-top: 0.5rem;
       }
   
       
   
       header h1{
           color: var(--secondary);
           font-size: 1.5rem;
           font-family: 'Press Start 2P', cursive;
       }
   
       /* --------------------------out-container------------------ */
       .out-container{
           width: 100%;
           padding: 1rem 1rem ;
       }
   
       .out-container .block-title{
           background-color: var(--secondary);
           color: var(--primary);
           padding: 1rem 1.75rem;
           border-radius: 0.5rem;
           border-bottom: 5px solid var(--primary);
           font-family: 'Source Sans Pro', sans-serif;
           font-size: large
       }
   
       
   
       .out-container h2, .in-container{
           padding: 0rem 1rem;
       }
   
       /* ----------------------------.in-container-------------------- */
   
       .in-container{
           margin-top: 1rem;
           border: 2px dashed var(--secondary);
           padding: 1rem;
       }
   
       .in-container a{
           text-decoration: none;    
       }
   
       .link-content-display{
           text-align: center;
           background-color: wheat;
           color: var(--secondary);
           padding: 0.5rem 1rem;
           font-size: 1.5rem;
           font-family: 'Open Sans', sans-serif;
           margin-top: 1rem;
           
           
       }
   
       .link-content-display span{
           display: none;
           
       }
   
   
       /* about style sheet file */
   
       .about{
           width: 100%;
           position: relative;
           background: url('Image/myPhoto.svg') no-repeat;
           background-size: cover;
           background-position: center;
       }
   
       .about .container{
           position: absolute;
           top: 25%;
           left: 0;
           right: 0;
           width: 100%;
           
           padding: 0rem 2rem;
       }
   
       
   
       .about-me span{
           font-family: 'Source Sans Pro', sans-serif;
           font-size: 1.90rem;
           text-align: center;
           background-color: #F7931E;
           
       }
   
       .about-me .middle{
           margin: 0.5rem 0rem;
       }
   
       .middle .name{
           margin-left: 1.5rem;
           /* background-color: rgba(0,0,0,0.0); */
           font-size: 2rem;
           font-weight: bold;
           color: white;
           
       }
   
       .connect .icon .fa{
           margin-top: 1rem;
           background-color: #F7931E;
           color: white;
           text-decoration: none;
           font-size: 1rem;
           padding: 1rem;
           text-align: center;
       }
   
       
    }

    


    @media only screen and (min-width: 950px){

        .top-bottom{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            background-color: var(--primary); 
            padding: 3rem; 
           
       }
   
       header{
           background-color: white;
           display: inline-block;
           padding: 1rem;
           transition: all 1s ease ; 
       }

       header h1{
        color: var(--secondary);
        font-size: 2rem;
        font-family: 'Press Start 2P', cursive;
    }

    header:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          
    }
   
       .top-bottom ul{
           display: flex;
           width: 25%;
           justify-content: space-around;
           align-items: flex-start;
           align-content: flex-start;
           flex-wrap: wrap;
           list-style-type: none;
           text-decoration: none;
       }
   
       .top-bottom a{
           text-decoration: none;
           color: var(--secondary);
           font-size: 1.25rem;
       }
   
       .top-bottom ul li{
           transition: all .3s ease ; 
           padding: 0.25rem 0.75rem;
       }
   
       .top-bottom ul li:hover{
         
           background-color: var(--secondary);
           color:var(--primary)
       }
   
       
    /* -------------------------------header style------------------------- */

       /* --------------------------out-container------------------ */
       .out-container{
           margin: 3rem 3rem ;
       }
   
       .out-container .block-title{
           display: inline-block;
           background-color: var(--secondary);
           color: var(--primary);
           padding: 1rem 1.75rem;
           border-radius: 0.5rem;
           border-bottom: 5px solid var(--primary);
           font-family: 'Source Sans Pro', sans-serif;
           font-size: large
       }
   
       
   
       .out-container h2, .in-container{
           padding: 0rem 1rem;
       }
   /* -----------------------------.out-container -------------------------------*/

       /* ----------------------------.in-container-------------------- */
   
       .in-container{
           display: grid;
           grid-template-columns: auto auto auto auto;
           justify-content: space-between;
           align-content: space-between;
           gap: 1rem 1rem;
           margin-top: 1rem;
           border: 2px dashed var(--secondary);
           padding: 1rem;
       }
   
       .in-container a{
           text-decoration: none;    
       }
   
       .link-content-display{
           position: relative;
           display: inline-block;
           background-color: wheat;
           color: var(--secondary);
           padding: 0.5rem 1rem;
           font-size: 1.5rem;
           font-family: 'Open Sans', sans-serif;
          
           width: 100%;
           transition: all .2s ease ;
           
       }
   
       .link-content-display:hover{
           box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                          
       }
   
       .link-content-display span{
           visibility: hidden;
           width: 250px;
           background-color: var(--primary);
           color: black;
           text-align: center;
           border-radius: 6px;
           padding: 5px 10px;
   
           /* Position the tooltip */
           position: absolute;
           left: 0;
           right: 0;
           top: 110%;
           z-index: 1;
       }
   
       .link-content-display:not(.over-flow-issue) span::after {
           content: "";
           position: absolute;
           bottom: 100%;
           left: 10%;
           
           border-width: 0.8rem;
           border-style: groove;
           border-color: transparent transparent var(--primary) transparent;
       }
   
       .link-content-display:hover span{
           visibility: visible;
           
       }

       /* overflow issue of scrimba block */

       .over-flow-issue span{
           left: -100%;
       }

       .over-flow-issue span::after{
        content: "";
        position: absolute;
        bottom: 100%;
        right: 10%;        
        border-width: 0.8rem;
        border-style: groove;
        border-color: transparent transparent var(--primary) transparent;
    }
   
   
       /*--------------------------------- about style sheet file -------------------*/
   
       .about{
           position: relative;
           background: url('Image/myPhoto.svg') no-repeat;
           background-size: cover;
           background-position: center;
       }
   
       .about .container{
           display: flex;
           justify-content: space-between;
           position: absolute;
           top: 40%;
           width: 100%;
           
           padding: 0rem 2rem;
       }
   
       
   
       .about-me span{
           font-family: 'Source Sans Pro', sans-serif;
           font-size: 1.90rem;
           text-align: center;
           background-color: #F7931E;
           
       }
   
       .about-me .middle{
           margin: 0.5rem 0rem;
       }
   
       .middle .name{
        font-family: 'Open Sans', sans-serif;
           margin-left: 1.5rem;
           background-color: rgba(0,0,0,0.0);
           font-size: 3rem;
           color: white;
           font-weight: 600;
           
       }
   
       .connect .icon .fa{
           color: white;
           text-decoration: none;
           font-size: 2rem;
           padding: 1rem;
       }
   
       .connect .icon .home{
           text-align: center;
           font-size: 1rem;
       }
   
       .fa:hover, .fa-brands:hover{
           background-color: #F7931E;
       }
   
       
    }

    footer h2{
        width: 100%;
        text-align: center;
        font-size: 25px;
        font-family: 'Nunito', sans-serif;
    }

    .copy-right{
        margin: 0.5rem 0rem;
        width: 100%;
        text-align: center;
    }
   

    .contribute-html{
        background-color: var(--primary);
    }

    .rwls-html{
        background-color: black;
    }

    .rwls-html img{
        padding: 2rem 0rem;
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-right: 0;
    }